export NODE_ENV="development"


# Next Auth Discord Provider
export GOOGLE_CLIENT_ID="59429934503-hdl5c157is7hadqkoldgpb8qkn90fr9n.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="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"


export DB_PASSWORD="QAE*zke3bha8bjy5mfg"
export DB_NAME="app_dev"

export NEXT_PUBLIC_MICROSERVICES_URL="http://localhost:8000"

export INTERNAL_API_KEY="a98808f0-109f-4979-9abd-3749837731ca"
export OPENAI_API_KEY="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"